template_name: md
description_is_markdown: true
deprecated_from_description: true
with_footer: false
show_toc: false
link_to_reused_ref: true
recursive_detection_depth: 3
examples_as_yaml: true
template_md_options: {
    badge_as_image: true, 
    show_heading_numbers: true,
    properties_table_columns: ['Property','Type','Title/Description'], 
    show_array_restrictions: false
}